.buildpath
.project
.settings
*.class
*.iml
*.iws
*.ipr
.idea
*.db
.DS_Store
.classpath

.idea/
target/
spark-warehouse/
logs/
data/
funnel-preagg/scripts/py/__pycache__/
funnel-preagg/src/main/resources/local/tmp/
funnel-preagg/scripts/run_local_*/
funnel-preagg/scripts/copyout_local_*/
funnel-preagg/scripts/fje_local_*/
funnel-preagg/scripts/debug/*.progress


derby.log
metastore_db/

